body {
  background-color:lightblue;
}

header {
    font-family: Arial, sans-serif;
    background-color:lightblue;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: burlywood;
    padding: 1em;
    text-align: center;
 }

section {
    background-color: lightblue;
    color: blanchedalmond;
    padding: 2em;
}

footer {
    background-color: pink;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}