body {
  background-color:lightpink
}

header {
    font-family: Arial, sans-serif;
    background-color:lightgoldenrodyellow;
    color: plum;
    text-align: center;
    padding: 1em;
}

nav {
    background: color #d7b2ff;;
    padding: 1em;
 }
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

section {
    background-color: lightgoldenrodyellow;
    color: rgba(92, 182, 212, 0.866);
    padding: 2em;
}
footer {
    background: color #ffd9e4;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 1;
    width: 1;
}