body {
  background-color:lightgoldenrodyellow;
}

header {
    font-family: Arial, sans-serif;
    background-color:lightgoldenrodyellow;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: rgb(251, 168, 251);
    padding: 1em;
 }
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}

section {
    background-color: lightgoldenrodyellow;
    color: rgba(92, 182, 212, 0.866);
    padding: 2em;
}
img {
    display: block;
    margin-left: right;
    margin-right: right;
    width: 40%;
  }

footer {
    background-color: lightpink;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}